{% extends 'base.html' %} {% block title %} DTechGloss | Page introuvable
{%endblock %} {% block content %}
<section class="flex items-center h-screen p-16 bg-gray-50 font-liter">
  <div class="container flex flex-col items-center">
    <a href="/" class="mb-10">
      <img
        src="{{ url_for('static', filename='img/brain.png') }}" 
        class="h-20 saturate-200 animate-pulse drop-shadow-other brightness-50"
        alt="DTechGloss Logo"
      />
    </a>

    <div class="flex flex-col gap-6 max-w-md text-center">
      <h2 class="font-extrabold text-9xl text-[#A32A34]">
        <span class="sr-only">Error</span>404
      </h2>
      <p class="text-2xl md:text-3xl dark:text-gray-500">
        Désolé !<br />Cette page n'existe pas.
      </p>
      <div class="flex flex-col gap-1">
        <div class="text-center">
          <a
            href="{{ url_for('index')}}"
            class="w-40 inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-[#296F9A] hover:bg-[#194B6B] focus:ring-4 focus:ring-blue-300"
          >
            Page d'accueil
          </a>
        </div>
        <div class="text-center">
          <a
            href="{{ url_for('glossary')}}"
            class="w-40 inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-[#296F9A] hover:bg-[#194B6B] focus:ring-4 focus:ring-blue-300"
          >
            Glossaire
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock%}
