{% extends "base.html" %} {% block title %}GloTechT | Documentation{% endblock
%} {% block content %}
<div class="min-h-screen font-inter bg-gray-100">
  <header class="bg-gray-900 text-white px-4 lg:px-6 py-2.5">
    <div
      class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl"
    >
      <a href="/" class="flex items-center">
        <img
          src="/img/brain.png"
          class="mr-3 h-6 sm:h-9"
          alt="DTechGloss Logo"
        />
        <span
          class="self-center font-extrabold text-xl whitespace-nowrap dark:text-white"
          >GloTechT</span
        >
      </a>
    </div>
  </header>

  <section class="container mx-auto px-4 py-12">
    <div class="flex flex-col items-center justify-center">
      <img
        src="/img/brain.png"
        class="h-20 saturate-200 animate-pulse drop-shadow-other brightness-50"
        alt="DTechGloss Logo"
      />
      <h1 class="text-gray-800 font-bold text-center text-3xl mb-8">
        Documentation
      </h1>
    </div>

    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <h3 class="text-2xl font-semibold text-gray-800 mb-4">
          Guide Utilisateur
        </h3>
        <p class="text-gray-600 mb-4">
          Manuel complet pour comprendre et utiliser GloTechT.
        </p>
        <a
          href="{{ url_for('static', filename='docs/glotecht.pdf') }}"
          download
          class="inline-flex items-center px-4 py-2 bg-[#296F9A] text-white rounded-lg hover:bg-[#194B6B] transition duration-300"
        >
          Télécharger PDF
          <svg
            class="w-5 h-5 ml-2"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"
            ></path>
          </svg>
        </a>
      </div>

      <div class="bg-white p-6 rounded-lg shadow-lg">
        <h3 class="text-2xl font-semibold text-gray-800 mb-4">
          Bases de données
        </h3>
        <p class="text-gray-600 mb-4">
          Présentation de la base de données de GloTechT.
        </p>
        <a
          href="{{ url_for('static', filename='docs/db.pdf') }}"
          download
          class="inline-flex items-center px-4 py-2 bg-[#296F9A] text-white rounded-lg hover:bg-[#194B6B] transition duration-300"
        >
          Télécharger PDF
          <svg
            class="w-5 h-5 ml-2"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"
            ></path>
          </svg>
        </a>
      </div>

      <div class="bg-white p-6 rounded-lg shadow-lg">
        <h3 class="text-2xl font-semibold text-gray-800 mb-4">Licences</h3>
        <p class="text-gray-600 mb-4">
          Explorez les licences d'exploitation de GloTechT.
        </p>
        <a
          href="{{ url_for('static', filename='docs/faq.pdf') }}"
          download
          class="inline-flex items-center px-4 py-2 bg-[#296F9A] text-white rounded-lg hover:bg-[#194B6B] transition duration-300"
        >
          Télécharger PDF
          <svg
            class="w-5 h-5 ml-2"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"
            ></path>
          </svg>
        </a>
      </div>

      <div class="bg-white p-6 rounded-lg shadow-lg">
        <h3 class="text-2xl font-semibold text-gray-800 mb-4">
          Termes et Conditions
        </h3>
        <p class="text-gray-600 mb-4">
          Informations légales et conditions d'utilisation de la plateforme.
        </p>
        <a
          href="{{ url_for('static', filename='docs/termes_conditions.pdf') }}"
          download
          class="inline-flex items-center px-4 py-2 bg-[#296F9A] text-white rounded-lg hover:bg-[#194B6B] transition duration-300"
        >
          Télécharger PDF
          <svg
            class="w-5 h-5 ml-2"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </section>

  <footer class="bottom-0 z-30 w-full bg-gray-50">
    <div
      class="bg-white max-sm:flex max-sm:flex-col max-sm:items-center md:flex md:items-center md:justify-between shadow rounded-lg p-4 md:p-6 xl:p-8 my-6 mx-4"
    >
      <nav aria-label="Footer Navigation">
        <ul class="flex items-center flex-wrap mb-6 md:mb-0">
          <li>
            <a
              href="#"
              class="text-sm font-normal text-gray-500 hover:underline mr-4 md:mr-6"
              >Termes & Conditions</a
            >
          </li>
          <li>
            <a
              href="#"
              class="text-sm font-normal text-gray-500 hover:underline mr-4 md:mr-6"
              >Licenses</a
            >
          </li>
          <li>
            <a
              href="{{ url_for('index') }}"
              class="text-sm font-normal text-gray-500 hover:underline mr-4 md:mr-6"
              >Accueil</a
            >
          </li>
          <li>
            <a
              href="{{ url_for('contact') }}"
              class="text-sm font-normal text-gray-500 mr-4 md:mr-6 hover:underline"
              >Contact</a
            >
          </li>
          <li>
            <a
              href="{{ url_for('glossary') }}"
              class="text-sm font-normal text-gray-500 hover:underline"
              >Glossaire</a
            >
          </li>
        </ul>
      </nav>
      <div class="flex sm:justify-center space-x-6">
        <a
          href="https://www.linkedin.com/in/dieudonn%C3%A9-toukam-11519336/"
          target="_blank"
          class="hover:text-[#296F9A] w-5 h-5"
          ><i class="fa-brands fa-linkedin"></i
        ></a>
        <a
          href="https://web.facebook.com/deotouks"
          target="_blank"
          class="hover:text-[#296F9A] w-5 h-5"
        >
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a
          href="https://www.instagram.com/deotouks/"
          target="_blank"
          class="hover:text-[#296F9A] w-5 h-5"
        >
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a
          href="https://x.com/DieudonnToukam"
          target="_blank"
          class="hover:text-[#296F9A] w-5 h-5"
        >
          <i class="fa-brands fa-x-twitter"></i>
        </a>
      </div>
    </div>
    <p class="text-center text-sm my-5">&copy; 2024 Tous Droits Réservés.</p>
  </footer>
</div>
{% endblock %}
